# Common
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/commerceos?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# Security
JWT_SECRET="super-secret-key-change-in-production"
JWT_EXPIRES_IN="1d"

# Sentry
SENTRY_DSN=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# URLs
API_URL="http://localhost:3000"
STOREFRONT_URL="http://localhost:3001"
ADMIN_URL="http://localhost:3002"
